extends ../layout

block content
  h1= title
  if user
    p= `Hello, ${user.name}`
    a(href='/islands/new') add a song
    p or
    a(href='/logout') log out
  else
    a(href='/auth/google') log in
  br
  br
  each song in songs
    p= `${song.name} - ${song.artist} - ${song.year} `
      a(href=`/islands/${song._id}`) visit
